/* CSS personalizado para el formulario y la tabla */

body {
  background-image: url('/static/core/img/prodct.avif');
}

.form-container {
  padding: 20px;
}

.card {
  background-color: rgba(200, 200, 200, 0.8);
  border: 2px solid #ccc;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: rgba(200, 200, 200, 0.8);
  border-radius: 10px;
}

.card-body {

  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  padding: 20px;
}


.form-group {
  margin-bottom: 20px;
}

#cuadro-imagen {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
}

#tabla-principal {
  margin-top: 30px;
  width: 100%;
}

#tabla-principal th, #tabla-principal td {
  text-align: center;
  vertical-align: middle;
}

@media (min-width: 768px) {
  .col-md-8 {
    max-width: 100%;
  }
  .col-md-10 {
    max-width: 100%;
  }
}
