body {
  background: url('/static/core/img/user.jpg') no-repeat center center fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.usuarios {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.card {
  max-width: 1200px;
  width: 100%;
  padding: 10px;
  background-color: rgba(200, 200, 200, 0.8);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

ul.form-list {
  list-style-type: none;
  padding: 10px;
  text-align: center;
}

ul.form-list li {
  margin-bottom: 10px;
}

.form-row {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 15px;
}

.form-row::after {
  content: "";
  display: table;
  clear: both;
}

.error-message {
  color: red;
  font-size: 14px;
}

.table-responsive {
  overflow-x: auto;
}

.table-hover thead tr {
  background-color: #f8f9fa;
}

.table-hover tbody tr:nth-of-type(even) {
  background-color: #f2f2f2; 
}

.table-hover tbody tr:hover {
  background-color: #e9ecef; 
}

.usuario-sm {
  width: 100%;
  max-width: 100px; 
  height: auto;
}

.card .card-body {
  padding: 20px;
  overflow: auto;
}

/* Nueva clase para el card de usuarios registrados */
.card-usuarios-registrados {
  max-width: 1400px; /* Ajusta el ancho máximo según sea necesario */
  width: 100%;
}
