{% extends 'core/base.html' %}
{% load static %}
{% load custom_filters %}

{% block content %}
<div class="container misdatos-container">
  <div class="row justify-content-center mt-5">
    <div class="col-sm-12 col-md-8">
      <div class="card border-0 shadow-lg">
        <div class="card-body">
          <form id="form" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <h2 class="card-title text-center">Mis Datos</h2>
            <div class="row">
              <div class="col-md-8">
                <div class="mb-3">
                  {{ form_usuario|as_bootstrap_form:'help_text_visible=False' }}
                </div>
                <div class="mb-3">
                  {{ form_perfil|as_bootstrap_form }}
                </div>
              </div>

              <div class="col-md-4">
                <div class="text-center mb-3">
                  {% if form_perfil.imagen.value %}
                    <img id="cuadro-imagen" src="/media/{{ form_perfil.imagen.value }}" class="img-thumbnail" style="width: 250px; height: auto; object-fit: cover; background-color: #1A1A1A;">
                  {% else %}
                    <img id="cuadro-imagen" src="{% static 'core/img/sin-imagen.png' %}" class="img-thumbnail" style="width: 250px; height: auto; object-fit: cover; background-color: #1A1A1A;">
                  {% endif %}
                </div>
              </div>
            </div>

            <div class="text-center mt-4">
              <button type="submit" class="btn btn-primary btn-md">Actualizar mis datos</button>
              <!-- <button class="btn btn-primary btn-md" onclick="event.preventDefault(); document.getElementById('id_imagen').click();">Seleccionar Imagen</button> -->
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block script %}
<script src="{% static 'core/js/misdatos.js' %}"></script>
<script src="{% static 'core/js/misdatos.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'core/css/nosotros.css' %}">
<script>
$(document).ready(function() {
  // Escuchar cambios en el input de imagen
  $('#id_imagen').change(function(evt) {
    const file = evt.target.files[0];
    const reader = new FileReader();
    reader.onload = function(e) {
      $('#cuadro-imagen').attr('src', e.target.result);
    };
    reader.readAsDataURL(file);
  });
});
</script>
{% endblock script %}