{% extends 'core/base.html' %}
{% load static %}
{% load custom_filters %}
{% load form_tags %}

{% block content %}
<div class="registro-body">
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-6">
      <div class="card">
        <div class="card-body">
          <h2 class="text-center">Registro de Clientes</h2>
          <form id="form-registrarme" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <ul class="form-list">
              <div class="form-group">
                {{ form_usuario.username.label_tag }} {{ form_usuario.username|add_class:"form-control" }}
              </div>
              <div class="form-group">
                {{ form_perfil.rut.label_tag }}{{ form_perfil.rut|add_class:"form-control" }}
              </div>
              <div class="form-group">
                {{ form_usuario.first_name.label_tag }} {{ form_usuario.first_name|add_class:"form-control" }}
              </div>
              <div class="form-group">
                {{ form_usuario.last_name.label_tag }} {{ form_usuario.last_name|add_class:"form-control" }}
              </div>
              <div class="form-group">
                {{ form_usuario.email.label_tag }} {{ form_usuario.email|add_class:"form-control" }}
              </div>
              <div class="form-group">
                {{ form_perfil.direccion.label_tag }} {{ form_perfil.direccion|add_class:"form-control" }}
              </div>
              <div class="form-group form-check">
                {{ form_perfil.subscrito|add_class:"form-check-input" }} {{ form_perfil.subscrito.label_tag|add_class:"form-check-label" }}
                <span class="extra-text">¿Quiere suscribirse por un aporte mensual de $3000 y obtener 5% en sus compras?</span>
              </div>
              <div class="form-group">
                {{ form_perfil.imagen.label_tag }} <input type="file" id="id_imagen" name="imagen" class="form-control">
              </div>
              <div class="form-group">
                {{ form_usuario.password1.label_tag }} {{ form_usuario.password1|add_class:"form-control" }}
              </div>
              <div class="form-group">
                {{ form_usuario.password2.label_tag }} {{ form_usuario.password2|add_class:"form-control" }}
              </div>
            </ul>
            <br>
            <p class="text-center">
              ¿Ya tienes cuenta?
              <a href="{% url 'ingresar' %}">Iniciar Sesión</a>
            </p>
            <div class="mt-2 mb-3 text-center">
              <button type="submit" class="btn btn-primary btn-block">Registrarme</button>
              <button type="reset" class="btn btn-warning btn-block" id="limpiar_formulario">Limpiar</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- Cuadro de vista previa de imagen -->
    <div class="col-sm-12 col-md-6">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title text-center">Foto del usuario</h4>
          <img id="preview-image" src="{% static 'core/img/sin-imagen.png' %}" alt="Vista previa de la imagen" class="img-fluid img-thumbnail" style="max-width: 100%; height: auto;">
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block script %}
<script src="{% static 'core/js/registrarme.js' %}"></script>
<link rel="stylesheet" href="{% static 'core/css/register.css' %}">
<script>
document.getElementById('id_imagen').onchange = function (evt) {
  const [file] = this.files;
  if (file) {
    document.getElementById('preview-image').src = URL.createObjectURL(file);
  }
};
</script>
{% endblock script %}
