{% extends 'core/base.html' %}
{% load static %}
{% load custom_filters %}

{% block content %}
<div class="container">
  <div class="col-12 col-md-12 col-lg-10 mx-auto"> <!-- Ajustamos los tamaños de las columnas para centrar y limitar el ancho -->
    <div class="card border-0 shadow-lg">
      <div class="card-body">
        <h2 class="card-title text-center mb-4">Gestion de Usuarios</h2>
        <form id="form-usuarios" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="row">
            <div class="col-md-6">
              <div class="mb-3">
                {{ form_usuario|as_bootstrap_form }}
                {{ form_perfil|as_bootstrap_form }}
              </div>
              <input type="file" id="id_imagen" name="imagen" style="display: none;">
              <div class="text-center">
                <button type="submit" class="btn btn-primary btn-md">Guardar</button>
                <a href="{% url 'usuarios' 'crear' '0' %}" class="btn btn-primary btn-md">Nuevo</a>
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3 text-center">
                <h4 class="mb-3">Imagen del Usuario</h4>
                {% if form_perfil.imagen.value %}
                  <img id="cuadro-imagen" src="/media/{{ form_perfil.imagen.value }}" class="img-thumbnail me-3" style="max-width: 250px; height: auto; object-fit: cover;">
                {% else %}
                  <img id="cuadro-imagen" src="{% static 'core/img/sin-imagen.png' %}" class="img-thumbnail me-3" style="max-width: 250px; height: auto; object-fit: cover;">
                {% endif %}
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-12"> <!-- Se elimina el tamaño de columna limitado -->
      <div class="card border-0 shadow-lg card-usuarios-registrados"> <!-- Se aplica la nueva clase -->
        <div class="card-body">
          <h2 class="text-center mb-4">Usuarios Registrados</h2>
          <div class="table-responsive">
            <table id="tabla-principal" class="table table-hover text-center">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Cuenta</th>
                  <th>Tipo usuario</th>
                  <th>Nombre</th>
                  <th>Apellidos</th>
                  <th>Correo</th>
                  <th>RUT</th>
                  <th>Imagen</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                {% for usuario in usuarios %}
                <tr>
                  <td>{{usuario.id}}</td>
                  <td>{{usuario.username }}</td>
                  <td>{{usuario.perfil.tipo_usuario}}</td>
                  <td>{{usuario.first_name}}</td>
                  <td>{{usuario.last_name }}</td>
                  <td>{{usuario.email }}</td>
                  <td>{{usuario.perfil.rut}}</td>
                  <td>
                    {% if usuario.perfil.imagen %}
                      <img src="/media/{{ usuario.perfil.imagen }}" class="usuario-sm img-fluid" style="max-width: 100px;" alt="">
                    {% else %}
                      <img src="{% static 'core/img/sin-imagen.png' %}" class="usuario-sm img-fluid" style="max-width: 100px;" alt="Sin imagen">
                    {% endif %}
                  </td>
                  <td>
                    <div class="btn-group">
                      <a href="{% url 'usuarios' 'actualizar' usuario.id %}" class="btn btn-primary btn-sm">Editar</a>
                      <a href="{% url 'usuarios' 'eliminar' usuario.id %}" class="btn btn-danger btn-sm">Eliminar</a>
                    </div>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block script %}
<script src="{% static 'core/js/usuarios.js' %}"></script>
<script src="{% static 'core/js/jquery.min.js' %}"></script>
<script src="{% static 'core/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'core/js/dataTables.bootstrap4.min.js' %}"></script>
<script>
  $(document).ready(function() {
    $('#tabla-principal').DataTable();
  });

  // Previsualizar imagen seleccionada
  $(document).ready(function() {
    $('#id_imagen').change(function(evt) {
      const file = evt.target.files[0];
      const reader = new FileReader();
      reader.onload = function(e) {
        $('#cuadro-imagen').attr('src', e.target.result);
      };
      reader.readAsDataURL(file);
    });
  });
</script>
<script src="{% static 'core/css/nosotros.css' %}"></script>
<link rel="stylesheet" href="{% static 'core/css/nosotros.css' %}">
<script src="{% static 'core/js/usuarios.js' %}"></script>
{% endblock script %}
